<!DOCTYPE html>
<html>
<head>
  <title>JS Sort</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="number" v-model="array_length" v-on:change="changeLength">
    <div class="array">
      <div v-for="(elm, index) in elements" class="elm">
        <div class="elm-body" v-bind:data-number="index" v-bind:style="{height: getHeightStyle(elm)}"></div>
      </div>
    </div>
    <div class="display">
      <div class="name">
        sort name: {{ sortname }}
      </div>
      <div class="count">
        count: {{ sortcount }}
      </div>
      <div class="time">
        time: {{ sorttime }}
      </div>
    </div>
    <button v-on:click="sortRandom">sort random</button>
    <button v-on:click="sortNative">sort native</button>
    <button v-on:click="sortBubble">sort bubble</button>
  </div>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>